@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.cdnfonts.com/css/rakesly");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

noscript iframe {
  display: none !important;
  visibility: hidden;
}

#loader {
  background: white url("images/renthub.gif") no-repeat center center;
  z-index: 9999999;
}

#carouselExampleCaption {
  -webkit-box-shadow: 0px 0px 11px 2px black;
          box-shadow: 0px 0px 11px 2px black;
  border-radius: 16pt;
}

#carouselExampleCaption img {
  border-radius: 17pt !important;
}

#carouselExampleCaption video {
  border-radius: 17pt !important;
}

#box6 video {
  border-radius: 20%;
}

#carouselExampleCaption .carousel-caption {
  background-color: rgba(255, 255, 255, 0.655555);
}

#carouselExampleCaption .carousel-caption1 {
  position: absolute !important;
  right: 15% !important;
  bottom: 1.25rem !important;
  left: 15% !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  text-align: center !important;
}

.progress-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 10px;
  background: #e06d07;
  width: 0%;
}

.head {
  background-color: rgba(255, 255, 255, 0.855555);
  -webkit-box-shadow: 9px 22px 42px black;
          box-shadow: 9px 22px 42px black;
  z-index: 1111111111111;
}

.header {
  height: 9vh;
}

.menu {
  height: 9vh;
}

.menu li {
  letter-spacing: .1rem;
  line-height: 4;
  font-family: "Righteous", cursive;
  margin: .5rem;
  color: #3c0f0f;
}

.menu li:hover {
  color: #e06d07;
  -webkit-transition: .6s;
  transition: .6s;
}

.menu .animation {
  position: relative;
  height: 6px;
  top: -19px;
  z-index: 0;
  background: #e06d07;
  border-radius: 8px;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.menu a:nth-child(1) {
  width: 100px;
}

.menu .start-home, a:nth-child(1):hover ~ .animation {
  width: 85px;
  left: 0px;
}

.menu a:nth-child(2) {
  width: 110px;
}

.menu a:nth-child(2):hover ~ .animation {
  width: 87px;
  left: 87px;
}

.menu a:nth-child(3) {
  width: 100px;
}

.menu a:nth-child(3):hover ~ .animation {
  width: 97px;
  left: 177px;
}

.menu a:nth-child(4) {
  width: 160px;
}

.menu a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 280px;
}

.menu a:nth-child(5) {
  width: 120px;
}

.menu a:nth-child(5):hover ~ .animation {
  width: 98px;
  left: 383px;
}

.menu a:nth-child(6) {
  width: 120px;
}

.menu a:nth-child(6):hover ~ .animation {
  width: 105px;
  left: 485px;
}

.menu a:nth-child(7) {
  width: 120px;
}

.menu a:nth-child(7):hover ~ .animation {
  width: 104px;
  left: 592px;
}

.menu a:nth-child(8) {
  width: 120px;
}

.menu a:nth-child(8):hover ~ .animation {
  width: 79px;
  left: 700px;
}

.menu a:nth-child(9) {
  width: 120px;
}

.menu a:nth-child(9):hover ~ .animation {
  width: 107px;
  left: 787px;
}

.navbar-light {
  opacity: 0;
  visibility: hidden;
}

.offcanvas-body li {
  letter-spacing: .1rem;
  line-height: 3.5;
  font-family: "Righteous", cursive;
}

.offcanvas-body li:hover {
  background-color: #f27c22;
  color: white !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.two {
  background-image: url("images/bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

.two #header {
  position: fixed;
  top: -143px;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  background-color: rgba(255, 255, 255, 0.655555);
  z-index: 1111111111;
}

.two h2 {
  font-family: "Righteous", cursive;
}

.two p {
  font-family: "Comfortaa", cursive !important;
  color: #3c0f0f;
}

.two .img1 img {
  width: 625px;
  height: 489px;
}

.two .box1 {
  border-radius: 4%;
  -webkit-box-shadow: 10px 20px 27px black;
          box-shadow: 10px 20px 27px black;
  width: 27rem;
}

.two hr {
  height: .9rem;
  background-color: #3c0f0f;
}

.two h3 {
  font-family: "Righteous", cursive;
}

.two button {
  font-family: "Comfortaa", cursive !important;
}

.blog1 img {
  width: 480px;
  height: 480px;
}

.three .alert {
  font-family: "Comfortaa", cursive !important;
}

.three p {
  font-family: "Comfortaa", cursive !important;
}

.three h4 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.three h5 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.three .progress-bar {
  width: 100%;
}

.three ol {
  font-family: "Comfortaa", cursive !important;
}

.three #carouselExampleCaptions img {
  width: 480px !important;
}

.three #carouselExampleCaptions {
  font-family: "Comfortaa", cursive !important;
}

.three .carousel-caption {
  -webkit-box-shadow: 2px 10px 16px black;
          box-shadow: 2px 10px 16px black;
}

.three .cap1 {
  margin-left: 17rem !important;
  margin-bottom: 36rem !important;
}

.three .cap2 {
  margin-left: 17rem !important;
  margin-bottom: 4rem !important;
}

.three .cap2 a:hover {
  color: white !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.three .cap3 {
  margin-left: 25rem !important;
  margin-bottom: 21rem !important;
}

.four h6 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.four p {
  font-family: "Comfortaa", cursive !important;
}

.five {
  background-image: url("images/bg2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.five h2 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.five p {
  font-family: "Righteous", cursive;
  word-spacing: .2rem;
}

.five .box2 li {
  background-color: #fff0;
  font-family: "Comfortaa", cursive !important;
  font-weight: bolder;
  border: none;
}

.five span {
  font-family: "Comfortaa", cursive !important;
  font-weight: bolder;
}

.five .box2 #bo1, .five #bo2 {
  border-radius: 4%;
  -webkit-box-shadow: 10px 10px 18px black;
          box-shadow: 10px 10px 18px black;
  width: 24rem;
}

.five .box2 .but {
  border: 1px double white;
  border-radius: .29rem;
  background-color: white;
}

.five .box2 .but:hover {
  -webkit-box-shadow: 0 0 5px #e06d07;
          box-shadow: 0 0 5px #e06d07;
  background-color: #e67e22;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.six, .six iframe {
  -webkit-box-shadow: 9px 22px 42px black !important;
          box-shadow: 9px 22px 42px black !important;
  border-radius: 4%;
}

.six h2 {
  font-family: "Righteous", cursive;
  color: black;
}

.six p {
  font-family: "Comfortaa", cursive !important;
}

.seven h3 {
  font-family: "Righteous", cursive;
  border: 8px dashed #f27c22;
  border-radius: 4%;
  color: #3c0f0f;
  -webkit-box-shadow: 7px 6px 36px black;
          box-shadow: 7px 6px 36px black;
}

.seven h4 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.seven p {
  font-family: "Comfortaa", cursive !important;
}

.seven .rounded-3 {
  padding: 1rem;
  border: 6px dashed #f27c22 !important;
  border-radius: 9% !important;
  -webkit-box-shadow: 9px 22px 42px black;
          box-shadow: 9px 22px 42px black;
  margin-bottom: 1rem;
}

.seven .box3 {
  height: 40vh;
  background-color: #f27c22;
  border-radius: 20px;
  border: 0 solid yellow;
  -webkit-box-shadow: 9px 22px 42px #f27c22;
          box-shadow: 9px 22px 42px #f27c22;
  -webkit-transition: background .3s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
  transition: background .3s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
}

.seven .box3 span {
  font-family: "Righteous", cursive;
}

.seven .box3 button {
  font-family: "Comfortaa", cursive !important;
}

.eight {
  background-image: url("images/bg3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.eight h5 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.eight p {
  font-family: "Comfortaa", cursive !important;
}

.eight .d-flex .box5 {
  width: 30rem;
  padding: 1rem 1rem 4rem 1rem;
  background-color: rgba(231, 134, 47, 0.28);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  border-radius: 4px;
}

.eight .d-flex > div {
  margin: 2rem 0;
}

.eight img {
  width: 30rem;
  border-radius: 4%;
}

.eight .d-flex > div:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
          transition-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.eight .box5 div {
  color: #3c0f0f;
}

.nine {
  background-image: url("images/bg4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.nine h6 {
  font-family: "Rakesly", sans-serif;
  letter-spacing: .3rem;
  color: #e06d07;
  border: 5px solid #3c0f0f;
  border-radius: 14px;
}

.nine h2 {
  font-family: "Fresca", sans-serif;
  color: #3c0f0f;
}

.nine p {
  font-family: "Righteous", cursive;
}

.nine .d-flex > div {
  margin: 2rem 0;
}

.nine #box6 img {
  border-radius: 20%;
}

.nine .box7 {
  -webkit-box-shadow: 9px 22px 42px black;
          box-shadow: 9px 22px 42px black;
  border-radius: 30%;
  -ms-flex-preferred-size: 37rem;
      flex-basis: 37rem;
}

.nine #box6 .box7:hover {
  -webkit-box-shadow: 0 0 10px 5px white;
          box-shadow: 0 0 10px 5px white;
  border-radius: 20%;
  color: white;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.nine .comments {
  background-color: #f4ae79;
  color: #f4ae79;
  font-size: 5px;
}

.nine .more {
  font-family: "Comfortaa", cursive !important;
}

.ten {
  background-color: rgba(242, 124, 34, 0.28);
}

.ten img {
  margin: 0 1rem;
}

.ten img:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 1s;
  transition: 1s;
}

.ten div {
  -ms-flex-preferred-size: 37rem;
      flex-basis: 37rem;
  -webkit-box-shadow: 10px 20px 27px black;
          box-shadow: 10px 20px 27px black;
  background-color: #e06d07;
  font-family: "Comfortaa", cursive !important;
}

.ten .p-2 {
  overflow-y: auto;
}

.ten .offcanvas-bottom {
  height: auto;
}

.ten .btn-close {
  position: inherit;
  right: 0;
}

.ten div a:hover {
  color: #3c0f0f !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.ten .butt:hover {
  color: #3c0f0f !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.ten .butt {
  margin: 0 6rem;
  cursor: pointer;
}

.ten h2 {
  font-family: "Righteous", cursive;
  color: #3c0f0f;
}

.ten a {
  font-family: "Comfortaa", cursive !important;
}

@media (max-width: 1400px) {
  .logo {
    width: 100% !important;
    text-align: center !important;
  }
  .head {
    position: relative !important;
  }
  .header .menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  #header .menu {
    opacity: 0;
    visibility: hidden;
  }
  .navbar-light {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .progress-container {
    position: fixed;
    top: 0;
  }
}

@media (max-width: 1230px) {
  #three .cara {
    width: 100% !important;
  }
}

@media (max-width: 990px) {
  .two {
    height: auto;
  }
}

@media (max-width: 600px) {
  .two {
    height: auto;
  }
  .progress {
    width: 100%;
  }
  .img1 img {
    width: 100% !important;
    height: auto !important;
  }
  #three .cara {
    width: 100% !important;
  }
  #three #carouselExampleCaptions img {
    width: 100% !important;
  }
  .menu {
    display: none;
  }
  .alert {
    width: 100% !important;
  }
  .five .flex2 {
    display: block !important;
  }
  .five .heading {
    width: 100% !important;
    font-family: "Fresca", sans-serif;
  }
  .five .box2 {
    width: 100% !important;
  }
  .six {
    width: 100% !important;
  }
  .seven .box3 {
    width: 85% !important;
  }
  .eight {
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */