@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url('https://fonts.cdnfonts.com/css/rakesly');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// variables
$fresca:'Fresca', sans-serif;
$righteous:'Righteous', cursive;
$rakesly:'Rakesly', sans-serif;
$comfortaa:"Comfortaa", cursive!important;

//mixins
@mixin bg($imgpath) {
	background-image: url($imgpath);
	background-repeat: no-repeat;
	background-size: cover;
}

html{
	font-size: 10px;
	scroll-behavior: smooth;
}
noscript iframe{
	display: none!important;
	visibility: hidden;
}
.header{
	height: 9vh;
}
#header{
	position: fixed;
	top: -143px;
	transition: top 0.5s;
	background-color: rgba(255, 255, 255, 0.855555);
	z-index: 1111111111;
}
.menu{
	height: 9vh;
}
.menu li{
	letter-spacing: .1rem;
	line-height: 4;
	font-family: $righteous;
	margin: .5rem;
	color: #3c0f0f;
}
.menu li:hover{
	color: #e06d07;
	transition: .6s;
}
.menu .animation {
	position: relative;
	height: 6px;
	top: -19px;
	z-index: 0;
	background: #e67e22;
	border-radius: 8px;
	transition: all .5s ease 0s; }
  
  .menu a:nth-child(1) {
	width: 100px; }
  
  .menu .start-home, a:nth-child(1):hover ~ .animation {
	width: 85px;
	left: 0px; }
  
  .menu a:nth-child(2) {
	width: 110px; }
  
  .menu a:nth-child(2):hover ~ .animation {
	width: 87px;
	left: 87px; }
  
  .menu a:nth-child(3) {
	width: 100px; }
  
  .menu a:nth-child(3):hover ~ .animation {
	width: 97px;
	left: 177px; }
  
  .menu a:nth-child(4) {
	width: 160px; }
  
  .menu a:nth-child(4):hover ~ .animation {
	width: 100px;
	left: 280px; }
  
  .menu a:nth-child(5) {
	width: 120px; }
  
  .menu a:nth-child(5):hover ~ .animation {
	width: 98px;
	left: 383px; }
  
  .menu a:nth-child(6) {
	width: 120px; }
  
  .menu a:nth-child(6):hover ~ .animation {
	width: 105px;
	left: 485px; }
  
  .menu a:nth-child(7) {
	width: 120px; }
  
  .menu a:nth-child(7):hover ~ .animation {
	width: 104px;
	left: 592px; }
  
  .menu a:nth-child(8) {
	width: 120px; }
  
  .menu a:nth-child(8):hover ~ .animation {
	width: 79px;
	left: 700px; }
  
  .menu a:nth-child(9) {
	width: 120px; }
  
  .menu a:nth-child(9):hover ~ .animation {
	width: 107px;
	left: 787px; }

.navbar-light{
	opacity: 0;
	visibility: hidden;
}  
.offcanvas-body li{
	letter-spacing: .1rem;
	line-height: 3.5;
	font-family: $righteous;
}
.offcanvas-body li:hover{
	background-color: #f27c22;
	color: white!important;
	transition: .5s;
}	
#loader{
    background: white url('images/renthub.gif') no-repeat center center;
    z-index: 9999999;
}
.two{
	@include bg('images/bg1.webp');
	height: 130vh;
h2{
	font-family: $righteous;
}
 p{
	font-family: $comfortaa;	
	color: #3c0f0f;	
}
.img1 img{
	width: 625px;
	height: 489px;
}
}
.box1{
	border-radius: 4%;
	box-shadow: 10px 20px 27px black;
	width: 27rem;
hr{
	height: .9rem;
	background-color: #3c0f0f;
}
h3{
	font-family: $righteous;
}	
button{
	font-family: $comfortaa;
}
}
.three .alert{
	font-family: $comfortaa;
}
.three p{
	font-family: $comfortaa;
} 
.three h4{
	font-family: $righteous;
	color: #3c0f0f;
}
.three h5{
	font-family: $righteous;
	color: #3c0f0f;
}
.progress-bar{
	width: 100%;
}
ol{
	font-family: $comfortaa;
}
#carouselExampleCaptions img{
	width: 480px!important;
}
#carouselExampleCaptions{
	font-family: $comfortaa;
}
.cap1{
	margin-left:17rem!important;
	margin-bottom:36rem!important;
}
.cap2{
	margin-left:17rem!important;
	margin-bottom:4rem!important;
}
.cap2 a:hover{
	color: white!important;
	transition:1s;
}
.cap3{
	margin-left:25rem!important;
	margin-bottom:21rem!important;
}
.four 
 h6{
	font-family: $righteous;
	color: #3c0f0f;
}
.four p{
	font-family: $comfortaa;
}
.five{
	@include bg('images/bg2.webp');
	width: 100%;
} 
.five h1{
	font-family: $righteous;
	color: #3c0f0f;
}
.five p{
	font-family: $righteous;
	word-spacing: .2rem;
}
.box2{ li{
	background-color: #fff0;
	font-family: $comfortaa;
	font-weight: bolder;
	border: none;
}
span{
	font-family: $comfortaa;
	font-weight: bolder;
}
}
.box2 #bo1, #bo2 {
	border-radius: 4%;
	box-shadow: 10px 10px 18px black;
	width: 24rem; }
  
  .box2 .but {
	border: 1px double white;
	border-radius: .29rem;
	background-color: white; }
  
  .box2 .but:hover {
	box-shadow: 0 0 5px #e06d07;
	background-color: #e67e22;
	transition: 0.5s;
	color: white; }
.six ,iframe{
	box-shadow: 9px 22px 42px black;
	border-radius: 4%;
	h2{
		font-family: $righteous;
		color: #3c0f0f;
	}
	p{
		font-family: $comfortaa;
	}
}
.seven{
	h3{
		font-family: $righteous;
		border: 8px dashed #f27c22;
		border-radius: 4%;
		color: #3c0f0f;
	}
	h4{
		font-family: $righteous;
		color: #3c0f0f;
	}
	p{
		font-family: $comfortaa;
	}
	.rounded-3{
		padding: 1rem;
		border: 6px dashed #f27c22!important;
		border-radius: 9%!important;
		box-shadow: 9px 22px 42px black;
		margin-bottom: 1rem;
	}
	.box3{
		height: 40vh;
		background-color: #f27c22;
		border-radius:20px;
		border: 0 solid yellow;
		box-shadow: 9px 22px 42px #f27c22;
		transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
		span{
			font-family: $righteous;
		}
		button{
			font-family: $comfortaa;
		}
	}
}
.eight{
	@include bg('images/bg3.webp');
	width: 100%;
	height: auto;
	h5{
		font-family: $righteous;
		color: #3c0f0f;
	}
	p{
		font-family: $comfortaa;
	}
	.d-flex .box5{
		width: 30rem;
		padding:1rem 1rem 4rem 1rem;
		background-color: rgba(231, 134, 47, 0.28);
		clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
		border-radius: 4px;
		// border: 0px solid black;
		// box-shadow: 40px 20px 27px #f27c22;
	}
	.d-flex >div{
		margin: 2rem 0;
	}
	img{
		width: 30rem;
		border-radius: 4%;
	}
	.d-flex >div:hover{
		transform: translateY(-20px);
		transition: 0.5s;
		// transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
		// box-shadow: 0px -9px 30px rgba(0, 0, 0, 0.15);
		transition-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
	}
	.box5 div{
		color: #3c0f0f;
	}
}
.nine{
	@include bg('images/bg4.webp');
	width: 100%;
	h6{
		font-family:$rakesly;
		letter-spacing: .3rem;
		color: #e06d07;
		border:5px solid #3c0f0f;
		border-radius: 14px;
	}
	h1{
		font-family: $fresca;
		color: #3c0f0f;
	}
	p{
		font-family: $righteous;
	}
	.d-flex >div{
		margin: 2rem 0	;
	}
	#box6 img{
		border-radius: 20%;
	}
	.box7{
		box-shadow: 9px 22px 42px black;
		border-radius: 30%;
		flex-basis: 37rem;
	}
	#box6 .box7:hover{
		box-shadow: 0 0 10px 5px white;
		border-radius: 20%;
		color: white;
		transform: translateY(-20px);
		transition: 0.3s;
		cursor: pointer;
	}
	.comments{
		background-color: rgb(244, 174, 121);
		color: rgb(244, 174, 121);
		font-size: 10px;
	}
	.more{
		font-family: $comfortaa;
	}
}
.ten{
	background-color: rgba(242, 124, 34, .28);
	img{
		margin: 0 1rem;
	}
	img:hover{
		transform: translateY(-20px);
		transition:1s;
	}
	div{
		flex-basis: 37rem;
		box-shadow: 10px 20px 27px black;
		background-color: #e67e22;
		font-family: $comfortaa;
	}
	.p-2{
		overflow-y: auto;
	}
	.offcanvas-bottom{
		height: auto;
	}
	.btn-close{
		position: inherit;
		right: 0;
	}
	div a:hover{	
		color: #3c0f0f!important;
		transition: 1s;
	}
	.butt:hover{
		color: #3c0f0f!important;
		transition: 1s;
	}
	.butt{
		margin: 0 6rem;
		cursor: pointer;
	}
	h2{
		font-family: $righteous;
		color: #3c0f0f;
	}
	a{
		font-family: $comfortaa;
	}
}
@media(max-width:1400px){
	.logo{
		width: 100%!important;
		text-align: center!important;
	}
	.header .menu{
		opacity: 0;
		visibility: hidden;
		position: absolute;
	}
	#header .menu{
		opacity: 0;
		visibility: hidden;
	}
	.navbar-light{
		opacity: 1;
		visibility: visible;
	}
}
@media(max-width:1230px){
	#three .cara{
		width: 100%!important;
	}
}
@media(max-width:990px){
	.two{
		height: auto;
	}
}
@media(max-width: 600px){
	.two{
		height: auto;
	}
	.progress{
		width: 100%;
	}
	 .img1 img{
		width: 100%!important;
		height: auto!important;
	}
	#three{
	.cara{
		width: 100%!important;
	}
	#carouselExampleCaptions img{
		width: 100%!important;
	}
	}
	.menu{
	display: none;
	}
	.alert{
		width: 100%!important;
	}
	.five{
	 .flex2{
		display: block!important;
	}
	.heading{
		width: 100%!important;		
		font-family: $fresca;
	}
	.box2{
		width: 100%!important;
	}
	}
	.six{
		width:100%!important;
	}
	.seven .box3{
		width: 85%!important;
	}
	.eight{
		height: auto;
	}
}
