*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 93.75%;
    font-family: 'Balsamiq Sans', cursive;
    scroll-behavior: smooth;
}
#loader{
    background: white url('loading.gif') no-repeat center center;
    z-index: 9999999;
}
#head{
    height: 9vh;
    background-color: #e67e22;
}
#logo{
    width: 20%;
    height: 9vh;
    filter: drop-shadow(0px 0px 2px white);
    z-index: 1111111111111;
}
#logo img{
    width: 7rem;
    height: auto;
    transition-property: width, height;
    transition-duration: 2s;
}
#logo img:hover{
    width: 14rem;
    height: auto;
}
#menu{
    height: 9vh;
    position: fixed;
    transition: 0.3s;
    z-index: 11;
    right: 20px;
}
#menu li{
    display: inline;
    line-height: 4;
    background-color: #e67e22;
    /*box-shadow: 0px 0px 2px #ecf0f1;*/
}
#menu li:hover{
    background-color: #ffffff96;
    transition: 1.2s;
    color: black;
}
.icon{
	position: absolute;
	top: 20px;
	right: 20px;
    opacity: 0;
    visibility: hidden;
    /*font-size: 2rem!important;*/
    color: white;
}
.yell{
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    z-index:11111111111;
}
.offcanvas{
    z-index:11111111111;   
}
#container{
    background-color: #d35400;
}
#box{
    flex-basis: 27rem;
    box-shadow: 10px 10px 12px black;
}
#box hr{
    height: .9rem;
    box-shadow: 0px 1px 9px black;
}
#box h1{
    text-shadow: 10px 10px 9px black;
}
#box p{
    text-align: justify;
}
#img1 img{
    width: 13.35rem;
    cursor: pointer;
}
#whatsapp {
    flex-basis: 20rem;
    height: 20rem;
    opacity:.8;
    border-radius: 10%;
}
#second{
    background-color: #d35400;
    clip-path: polygon(100% 0%, 100% 96%, 50% 100%, 0 96%, 0 0);
}
.box1 #bo1,#bo2{
    box-shadow: 2px 4px 5px black;
    width: 24rem;
}
.box1 .but{
    border:1px double #ff6a06;
    border-radius: .29rem;
    background-color: white;
}
.box1 .but:hover{
    box-shadow: 0 0 5px #e06d07;
    background-color: #e06d07;
    transition: 0.5s;
    color: white;
}
.box2{
    box-shadow: 9px 22px 42px black;
    border-radius: 50%;
    background-color: #d35400;
    flex-basis: 28rem;
    opacity: .89;
}
.box2 img{
    width: 6rem;    
}
#fourth{
    background-image: url('pics/bg/1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#fourth hr{
    height: .8rem;
    border-radius: 8%;
    opacity: .85;
}
#slider{
    background-image: url('road.webp');
    background-position: center;
    background-size: cover;
    height: 150px;
}
#slider img{
    width: 15rem;
    height: 233px;
    bottom: 60px;
    right: 0;
    animation-name: slider;
    animation-duration: 6s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
@keyframes slider{
    from{right: 0;}
    to{right: 85%;}
}
#fiveth{
    opacity: 1;
    background-color: #d35400;
}
#fiveth #content5{
    letter-spacing: .2rem;
}
.box4{
    flex-basis: 30rem;
    box-shadow: 2px 1px 5px white;
    border-radius: 30%;
}
.box4 img{
    width: 10%;
    border-radius: 30%;
}
#sixth{
    background-color: #B33771;
}
#box5 .box6:hover{
    box-shadow: 0 0 10px 5px white;
    border-radius: 20%;
    color: thistle;
    transform: translateY(-20px);
    transition: 0.3s;
}
.box6{
    box-shadow: 2px 1px 5px black;
    border-radius: 30%;
    flex-basis: 25rem;
}
#box5 img{
    border-radius: 20%;
}
#comments{
    background-color: #d35400;
}
#seventh{
    background-color: #2C3A47;
}
#last div{
    flex-basis: 25rem;
}
#content6 img{
    width: 44px;
}
@media(max-width:1200px){
    #loader{
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:990px){
    #loader{
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:899px){
    #logo{
        width: 100%;
        clear: both;
    }
    #loader{
        width: 100%;
        height: 100vh;
    }
    #menu{
        width: 100%;
        clear: both;
    }
    #menu ul{
        opacity: 0;
        visibility: hidden;
    }
    .icon{
        opacity: 1;
        visibility: visible;
        position: fixed;
        z-index: 9999999999;
    }
    .yell{
        opacity: 1;
        visibility: visible;
    }
    .offcanvas li:hover{
        background-color: white;
        transition: 1.5s;
        color: black;
    }
    #menu.responsive_menu ul{
        opacity: 1;
        visibility: visible;
    }
    #menu.responsive_menu{
        /*background: #e67e22;*/
        width: 50%!important;
        /*height: 100vh!important;*/
        /*position: fixed;*/
        /*z-index: 999999;*/
        /*top: 5rem;*/
    }
    #menu.responsive_menu ul li{
        float: none;
        display: block;
        text-align: center;
        margin:0 -2rem;
    }
}
@media(max-width:600px){
    #loader{
        width: 100%;
        height: 100vh;
    }
}
@media(max-width:480px){
    #loader{
        width: 100%;
        height: 100vh;
    }    
}